<div class="image">
    <div *ngIf="roles == 'Student'" class="text">
        <h3>Lịch Học</h3>
    </div>
    <div *ngIf="roles == 'Lecturers' ||'Admin'" class="text">
      <h3>Lịch Dạy</h3>
  </div>
    <table class="container">
        <tr>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
            <th>Chủ Nhật</th>
          </tr>
          <tr>
            <th>
             
            </th>
            <th>-</th>
            <th>
             
            </th>
            <th>-</th>
            <th>
          
            </th>
            <th>-</th>
            <th>-</th>
          </tr>
          <tr>
            <th>-</th>
            <th>
             
            </th>
            <th>-</th>
            <th>
             
            </th>
            <th>-</th>
            <th>
            
            </th>
            <th>-</th>
          </tr>
    </table>
</div>

  
