<div class="dk"></div>
<footer id="footer">
    <div class="container font">
        <div class="row">
            <div class="col-3">
                <h3>
                    <a style="color: rgb(182, 55, 17); font-size: 25px; font-family: Algerian;">
                        <b>
                            THE
                            <br>
                            COFFEE
                            <br>
                            STUDY®
                        </b>
                    </a>
                </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <h3 class="footer_title">ABOUT</h3>
                <ul class="footer_linklists">
                    <li><a title="Về Chúng Tôi">Về Chúng Tôi</a></li>
                    <li><a  title="Hạt Cà Phê The Coffee House">Hạt Cà Phê The
                            Coffee Study</a></li>
                    <li><a  title="Blog">Blog</a></li>
                    <li><a  title="Cơ Hội Nghề Nghiệp">Cơ Hội Nghề Nghiệp</a>
                    </li>
                    <li><a  title="Cửa Hàng">Cửa Hàng</a></li>
                </ul>
                <div class="gov">
                    <a target="_blank" rel="nofollow" href="http://online.gov.vn/Home/WebDetails/48042"><img width="200"
                            src="//theme.hstatic.net/1000075078/1000610097/14/gov.png?v=617" alt="gov"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <div class="hotline_footer">
                    <h3 class="footer_title">Always-on Support</h3>
                    <p>Delivery 1800 6936 (07:00-21:00)</p>
                    <p>Support Support 02871 087 088 (07:00-21:00) </p>
                </div>
                <div class="address_footer">
                    <h3 class="footer_title">Address</h3>
                    <p>965-967 Điện Biên Phủ, Thanh Khê.
                        <br>
                        Đà Năng, Việt Nam.
                    </p>
                    <p>0395697922</p>
                    <p>hi@thecoffeestudy.vn</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <h3 class="footer_title">Delivery</h3>
                <ul class="footer_linklists">
                    <li><a title="Shipping methods">Shipping methods</a></li>
                    <li><a title="Payment">Payment</a></li>
                    <li><a  title="Cash voucher">Cash voucher</a></li>
                    <li><a  title="Return">Return</a></li>
                    <li><a  title="Exchange">Exchange</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="copyright_footer display_flex justify-content-spbetween">
                    <div class="copyright_text copyright_col">
                        <p style="padding-top: 10px;">Copyright© 2020 The Coffee Study. All rights reserved.</p>
                    </div>
                </div>
                <div class="copyright"></div>
            </div>
        </div>
    </div>
</footer>




<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="dk"></div>
<div class="footer">
    <div>
        <div class="row col-md-12 ">
            <div class="col-md-2 font">
                <h3>
                    <b>
                        THE
                        <br>
                        COFFEE 
                        <br>
                        STUDY
                    </b>
                </h3>
                
            </div>
            <div class="col-md-3">
                <h4><b>ABOUT</b></h4>
                <a>Về Chúng Tôi</a><br>
                <a>Hạt Cà Phê The Coffee Study</a><br>
                <a>Blog</a><br>
                <a>Cơ Hội Nghề Nghiệp</a><br>
                <a>Cửa Hàng</a><br><br>
                <img width="200" src="//theme.hstatic.net/1000075078/1000534883/14/gov.png?v=1544" alt="gov">
            </div>
            <div class="col-md-4">
                <h4><b>Always-on Support</b></h4>
                <a>Delivery 1800 6936 (07:00-21:00)</a><br>
                <a>Support 02871 087 088 (07:00-21:00)</a><br><br>
                <h4><b>Address</b></h4>
                <a>965-967 Điện Biên Phủ, Thanh Khê</a><br>
                <a>Đà Năng, Việt Nam</a><br>
                <a>0395697922</a><br>
                <a>hi@thecoffeestudy.vn</a><br>
            </div>
            <div class="col-md-2">
                <h4><b>Delivery</b></h4>
                <a>Shipping methods</a><br>
                <a>Payment</a><br>
                <a>Cash voucher</a><br>
                <a>Return</a><br>
                <a>Exchange</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="line"></div>
        <div class="row col-md-12">
            <div class="col-md-8"><a>Copyright © 2020 The Coffee Study. All rights reserved.</a></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a>
                    Privacy Policy | Terms of Use
                </a>
            </div>
        </div>
    </div>
</div> -->