<!--Đây là phần của quyền học viên-->
<!--Lớp đã đăng kí-->
<div *ngIf="roles == 'Student'" class="text">
  <h3>Các Lớp Đã Đăng Kí</h3>
</div>



<div *ngIf="roles == 'Student'">
  <div class="red-notification" >
    Chưa có lớp nào được đăng kí!
  </div>
  <div class="main-content">
    <div class="container-fluid">
      <!-- ////////////////////////////////////////////////////////////////////////// -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          STT
                        </th>
                        <th>
                          Tên Lớp
                        </th>
                        <th>
                          Tuần Học
                        </th>
                        <th>
                          Thời Gian
                        </th>
                        <th>
                          Địa Điểm
                        </th>
                        <th>
                          Đăng Ký/Hủy
                        </th>
                      </thead>
                      <tbody *ngFor="let class of class;let i = index" [attr.data-index]="i">
                        <!-- <td>
                          <tr>
                            {{i+1}}
                          </tr>
                        </td>
                        <td hidden>
                          <tr id="classId">
                            <input #classId [value]="class._id">
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.name}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.start_date}} -> {{class.end_date}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            thứ {{class.weekday}}
                            <br>từ {{class.start_time}} đến {{class.end_time}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.address}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            <i type="button" value="Click me" (click)="cancel(classId.value)" class="fa fa-times fa-2x"></i>
                          </tr>
                        </td> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Đăng kí lớp học-->
<div *ngIf="roles === 'Student'" class="text">
  <h3>Đăng Ký Lịch Học</h3>
</div>
<div *ngIf="roles === 'Student'">
  <div class="main-content">
    <div class="container-fluid">
      <!-- ////////////////////////////////////////////////////////////////////////// -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <div class="row col-12">
                    <div class="col-3">
                      <div class="nav flex-column">
                        <select [(ngModel)]="selectedView" class="form-control borderradius">
                          <option *ngFor="let level of level" [value]="level._id">{{level.name}}</option>
                        </select>
                      </div>
                    </div>
                    <button (click)="clickClass()" type="submit" class="b1 btn-danger">Chọn Level</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          STT
                        </th>
                        <th>
                          Tên Lớp
                        </th>
                        <th>
                          Tuần Học
                        </th>
                        <th>
                          Thời Gian
                        </th>
                        <th>
                          Địa Điểm
                        </th>
                        <th>
                          Tên Giảng viên
                        </th>
                        <th>
                          Học Phí
                        </th>
                        <th>
                          Đăng Ký/Hủy
                        </th>
                      </thead>
                      <tbody *ngFor="let class of class;let i = index" [attr.data-index]="i">
                        <td hidden>
                          <tr>
                            <input #classId [value]="class._id">
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{i+1}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.name}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.start_date}} --> {{class.end_date}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.start_date}} --> {{class.end_date}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.address}}
                          </tr>
                        </td>
                        <td >
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.price}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            <i type="button" value="Click me" (click)="SignupToLearn(classId.value)"
                              class="fa fa-check fa-2x"></i>
                          </tr>
                        </td>
                        <td *ngIf="">
                          <tr>
                            <i>Lớp học đã hết chỗ!!!</i>
                          </tr>
                        </td>
                        <td *ngIf="class._teacherId != null && class._teacherId ==userId">
                          <tr>
                            <i type="button" value="Click me" (click)="cancel(classId.value)" class="fa fa-times fa-2x"></i>
                          </tr>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Kết thúc phần của quyền học viên-->


<!--Đây là phần của quyền giảng viên-->
<!--Lớp đã đăng kí-->
<div *ngIf="roles == 'Lecturers'" class="text">
  <h3>Các Lớp Đã Đăng Kí</h3>
</div>



<div *ngIf="roles == 'Lecturers'">
  <div class="red-notification">
    Chưa có lớp nào được đăng kí!
  </div>
  <div class="main-content">
    <div class="container-fluid">
      <!-- ////////////////////////////////////////////////////////////////////////// -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          STT
                        </th>
                        <th>
                          Tên Lớp
                        </th>
                        <th>
                          Tuần Học
                        </th>
                        <th>
                          Thời Gian
                        </th>
                        <th>
                          Địa Điểm
                        </th>
                        <th>
                          Đăng Ký/Hủy
                        </th>
                      </thead>
                      <tbody *ngFor="let class of class;let i = index" [attr.data-index]="i">
                        <td>
                          <tr>
                            {{i+1}}
                          </tr>
                        </td>
                        <td hidden>
                          <tr id="classId">
                            <input #classId [value]="class._id">
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.name}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.start_date}} --> {{class.end_date}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            thứ {{class.weekday}}
                            <br>từ {{class.start_time}} đến {{class.end_time}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.address}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            <i type="button" value="Click me" (click)="cancel(classId.value)" class="fa fa-times fa-2x"></i>
                          </tr>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Chọn lớp để đăng kí-->
<div *ngIf="roles == 'Lecturers'" class="text">
  <h3>Đăng Ký Lịch Dạy</h3>
</div>



<div *ngIf="roles == 'Lecturers'">
  <div class="main-content">
    <div class="container-fluid">
      <!-- ////////////////////////////////////////////////////////////////////////// -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">

                  <div class="row col-12">
                    <div class="col-3">
                      <div class="nav flex-column">
                        <select [(ngModel)]="selectedView" class="form-control borderradius">
                          <option *ngFor="let level of level" [value]="level._id">{{level.name}}</option>
                        </select>
                      </div>
                    </div>
                    <button (click)="clickClass()" type="submit" class="b1 btn-danger">Chọn Level</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          STT
                        </th>
                        <th>
                          Tên Lớp
                        </th>
                        <th>
                          Tuần Học
                        </th>
                        <th>
                          Thời Gian
                        </th>
                        <th>
                          Địa Điểm
                        </th>
                        <th>
                          Đăng Ký/Hủy
                        </th>
                      </thead>
                      <tbody *ngFor="let class of class;let i = index" [attr.data-index]="i">
                        <td>
                          <tr>
                            {{i+1}}
                          </tr>
                        </td>
                        <td hidden>
                          <tr id="classId">
                            <input #classId [value]="class._id">
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.name}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.start_date}} --> {{class.end_date}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            thứ {{class.weekday}}
                            <br>từ {{class.start_time}} đến {{class.end_time}}
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{class.address}}
                          </tr>
                        </td>
                        <td *ngIf="class._teacherId == null">
                          <tr>
                            <i type="button" value="Click me" (click)="SignupToTeach(classId.value)"
                              class="fa fa-check fa-2x"></i>
                          </tr>

                        </td>
                        <td *ngIf="class._teacherId != null && class._teacherId !=userId">
                          <tr>
                            <i>Lớp học đã có người dạy!!!</i>
                          </tr>
                        </td>
                        <td *ngIf="class._teacherId != null && class._teacherId ==userId">
                          <tr>
                            <i type="button" value="Click me" (click)="cancel(classId.value)" class="fa fa-times fa-2x"></i>
                          </tr>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>