td{
    border: 1px solid rgb(227, 252, 252);
    text-align: center;
    padding: 8px;
}
th{
    border: 5px solid rgb(227, 252, 252);
    text-align: center;
    padding: 8px;
}
.border{
    border: 5px solid #ffffff;
}

.text{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.image{
    background-color: #D9DFD1;
    width: 1535px;
    height:500px;
}
.b1{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-style: italic;
    
}
.red-notification{
    text-align: center;
    color: red;
    font-family: Time new Roman;
}
  
 