
.text1{
    text-align: center;
    font-style: oblique;
}
.member{
    border-radius: 50%;
}
.name{
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
}
.text2{
    margin-left: 100px;
    text-align: justify;
}
.button1{
    margin: 20px 0px 0px 680px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
}
.image1{
    background-image: url('/assets/images/bk.jpg');
    background-size: 100%;
    max-width: 1535px;
    height: 550px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
.text3{
    text-align: center;
    font-style: oblique;
    color: white;
    font-size: 25px;
}
.name1{
    color: yellow;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}
.text4{
    color: white;
    margin-left: 100px;
    text-align: justify;
}
.icon{
    color:yellow;
    margin-top: 50px;
    margin-left: 250px;
    text-align: justify;
}

