<div>
    <div class="text1">
        <h4>CẢM NHẬN CỦA HỌC VIÊN</h4>
        <a>Với sứ mệnh giúp người Việt nói tiếng Anh thì thành công</a>
        <p>của học viên cũng chính là thành công của <b>THECOFFEESTUDY</b></p>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-3"></div>
        <div class="row col-md-3">
            <img class="member" src="/assets/images/phat.jpg" alt="Paris" width="200" height="200">
        </div>
        <div class="row col-md-3">
            <img class="member" src="/assets/images/tinh.jpg" alt="Paris" width="200" height="200">
        </div>
        <div class="row col-md-3">
            <img class="member" src="/assets/images/thao.jpg" alt="Paris" width="200" height="200">
        </div>
    </div>

    <div class="row col-md-12">
        <div class="row col-md-3"></div>
        <div class="row col-md-3">
            <div class="name">
                <b>Anh Phát</b>
                <p>Sinh Viên</p>
            </div>
        </div>
        <div class="row col-md-3">
            <div class="name">
                <b>Anh Tịnh</b>
                <p>Sinh Viên</p>
            </div>
        </div>
        <div class="row col-md-3">
            <div class="name">
                <b>Chị Thảo</b>
                <p>Sinh Viên</p>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="row col-md-2"></div>
        <div class="row col-md-3">
            <div class="text2">
                <a>
                    Sau 4 tháng kiên trì, tôi cảm thấy mình đã tự tin nói chuyện và hiểu được những gì chuyên gia nước ngoài truyền tải. Vốn ngoại ngữ mà THECOFFEESTUDY mang lại sẽ là một lợi thế tuyệt vời của tôi trong những dự định sắp tới.
                </a>
            </div>
        </div>
        <div class="row col-md-3">
            <div class="text2">
                <a>
                    Trở thành một quản lý cấp cao, tôi rất cần tiếng Anh để có thể giao tiếp và làm việc với đối tác và đặc biệt là với sếp. Tuy nhiên thời gian và áp lực công việc căng thẳng khiến tôi không thể học tiếng Anh. Từ khi có THECOFFEESTUDY, mọi thứ trở nên dễ dàng hơn rất nhiều.
                </a>
            </div>
        </div>
        <div class="row col-md-3">
            <div class="text2">
                <a>
                    Hằng ngày phải tiếp xúc với nhiều bệnh nhân người ngoại quốc nhưng vốn tiếng Anh của tôi rất hạn chế khiến tôi cảm thấy thật thiếu sót khi không nói chuyện và hiểu được người bệnh của mình. Tôi tìm đến THECOFFEESTUDY vì các lớp học được tổ chức rất linh động từ sáng đến khuya, tôi thường học vào lúc 11h-12h đêm cùng một vài ca học khác trong ngày lúc rảnh rỗi.
                </a>
            </div>
        </div>
        <div class="row col-md-1"></div>
    </div>

    <div>
        <a class="btn btn-default  center-block button1" id="btn-login" href="/signupCourse">Đăng ký Ngay</a>
    </div>

    <div class="image1">
        <div class="text3">
            <a><b>Học viên của chúng tôi trước đây cũng</b></a>
            <p><b>cảm thấy giống bạn vì:</b></p>
        </div>
        <div class="row col-md-12">
            <div class="row col-md-4">
                <div class="icon">
                    <i class="fa fa-question-circle fa-5x"></i>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="icon">
                    <i class="fa fa-camera fa-5x"></i>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="icon">
                    <i class="fa fa-book fa-5x"></i>
                </div>
            </div>
        </div>
    
        <div class="row col-md-12">
            <div class="row col-md-4">
                <div class="name1">
                    <p>Quá bận rộn với công việc, không có thời gian đến lớp học?</p>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="name1">
                    <p>Không có môi trường giao tiếp, không được thực hành với giáo viên bản ngữ</p>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="name1">
                    <p>Mất gốc, không biết bắt đầu từ đâu</p>
                </div>
            </div>
        </div>
    
        <div class="row col-md-12">
            <div class="row col-md-4">
                <div class="text4">
                    <a>
                        Thay vì chỉ tổ chức các lớp học cố định, THECOFFEESTUDY tổ chức 16 ca học tập hàng ngày, bắt đầu từ 8h sáng đến 24h đêm. Với 16 ca học/ngày và 7 ngày/tuần, sẽ dễ dàng đáp ứng nhu cầu LUYỆN NÓI TIẾNG ANH hàng ngày của anh/chị ngay cả trong điều kiện làm việc đặc thù nhất: Làm đêm, học ngày; Làm ngày, học đêm.
                    </a>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="text4">
                    <a>
                        Thay vì phải len lỏi trong lúc tắc đường để đến địa điểm học tập, anh/chị có thể thoải mái học tập tại cơ quan, nhà riêng hay tại quán cafe chỉ với smartphone, tablet, máy tính. Anh/chị sẽ được tương tác 2 chiều với top giảng viên giỏi nhất được chọn lựa từ hơn 3000 giảng viên Âu - Úc - Mỹ.
                    </a>
                </div>
            </div>
            <div class="row col-md-4">
                <div class="text4">
                    <a>
                        Lộ trình học tập sẽ được thiết kế riêng cho từng cá nhân căn cứ vào xuất phát điểm về trình độ đầu vào và mục tiêu khi rèn luyện tiếng Anh với THECOFFEESTUDY. Anh/chị có thể bắt đầu học tập ngay với lộ trình riêng, không cần chờ mở lớp.
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-default  center-block button1" id="btn-login" href="/signupCourse">Đăng ký Ngay</a>
        </div>
    </div>
    <div>
    </div>
</div>
