
.text-center{
    margin-top: 50px;
}    
#actions .btn { 
    width:36%; 
    margin:1.5em 0;
} 
     
#actions .btn-info { 
    float:left;
} 
     
#actions .btn-danger { 
    float:right;
}
.btn.btn-warning{
    background-color: darkred;
    color: white;
}
.btn.btn-warning:hover{
    background-color: yellowgreen;
    color: white;
}
    
.container{
    margin-top: 100px;
}
#margin{
    margin-top: 50px;
    margin-bottom: 50px;
    border: darkred;
}
.soluong{
    width: 100px;
    display: inline;
}