<form>
    <h2 class="text-center">Thanh Toán</h2>
    
    <div class="container">
        <div class = "row col-md-12" id = "margin">
    
            <div class = "col-md-2"><h5>Tên sản phẩm</h5></div>
    
            <div class = "col-md-2"></div>
    
            <div class = "col-md-2"><h5>Đơn giá</h5></div>
    
            <div class = "col-md-2"><h5>Số lượng</h5></div>
    
            <div class = "col-md-2"><h5>Thành tiền</h5></div>
    
            <div class = "col-md-2"></div>
        </div>
    
        <div class = "row col-md-12" id = "margin">
    
            <div class = "col-md-2">
                <img src="assets/images/AMERICANO.jpg" height="100">
            </div>
    
            <div class = "col-md-2">
                <p>AMERICANO</p>
                <p>Mô tả sản phẩm</p>
            </div>
    
            <div class = "col-md-2"><p>50,000 đ</p></div>
    
            <div class = "col-md-2"><input class ="soluong" type="number" value="1" min = "1"/></div>
    
            <div class = "col-md-2"><p>50,000 đ</p></div>
    
            <div class = "col-md-2" id = "actions">
                <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    
        <div class = "row col-md-12" id = "margin">
    
            <div class = "col-md-2">
                <img src="assets/images/MACCHIATO.jpg" height="100">
            </div>
    
            <div class = "col-md-2">
                <p>MACCHIATO</p>
                <p>Mô tả sản phẩm</p>
            </div>
    
            <div class = "col-md-2"><p>42,000 đ</p></div>
    
            <div class = "col-md-2"><input class="soluong" value="1" type="number" min = "1"></div>
    
            <div class = "col-md-2"><p>42,000 đ</p></div>
    
            <div class = "col-md-2" id = "actions">
                <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    
        <div class = "row col-md-12" id = "margin">
    
            <div class = "col-md-2">
                <button class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</button>
            </div>
    
            <div class = "col-md-2"></div>
    
            <div class = "col-md-2"></div>
    
            <div class = "col-md-2"></div>
    
            <div class = "col-md-2"><strong>Tổng tiền  đ</strong></div>
    
            <div class = "col-md-2">
                <button class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    </form>
